html,
body {
  font-family: "NDS12", sans-serif;
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(@/assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

h1 {
  color: var(--black);
  font-size: var(--lg);
  font-weight: 500;
  margin: 0;
}

p {
  font-size: var(--md);
  margin: 0;
}

a {
  text-decoration: unset;
  color: var(--darkBlue);
}

hr {
  border: 1px solid var(--lightBlue);
  margin: var(--md) 0 0 0;
}

ul {
  list-style-type: none;
  padding: unset;
  margin: unset;
  color: var(--darkBlue);
}
